.contenedor{
    margin: 10px;
}
.form-login{
    position: relative;
    margin-top: 20%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

@media only screen and (min-width: 770px) {
  .contenedor{
    margin: 10px 10% 0 10%;
  }
}

@media only screen and (min-width: 1000px) {
  .contenedor{
    margin: 10px 20% 0 20%;
  }
}